.content-container {
    display: grid;
    grid-template-columns : repeat(4, minmax(30vh, auto));
    grid-template-rows: repeat(4, minmax(30vh, auto));
    row-gap: 10px;
    column-gap: 10px;
    align-items: stretch;
    justify-items: stretch;
    align-content: start;
}
.item{

}



