<script>
  window.onload = function () {
    content.init();
  };
</script>

<div style="display: flex; flex-direction: row; flex-wrap: nowrap">
  <div
    class="btn-group"
    role="group"
    aria-label="Basic radio toggle button group"
    id="geneButtonGroup"
  ></div>
</div>

<div style="height: 20px"></div>

<div class="content-container">
  <svg preserveAspectRatio="xMaxYMax slice" id="svg" height="100vh" width="80vw">

  </svg>
</div>
