<script>
  window.onload = function () {
    content.init();
  };
</script>

<div style="display: flex; flex-direction: row; flex-wrap: nowrap">
  <div
    class="btn-group"
    role="group"
    aria-label="Basic radio toggle button group"
    id="geneButtonGroup"
  ></div>
</div>

<div style="height: 20px"></div>

<div class="content-container">
  <div class="item">A</div>
  <div class="item">B</div>
  <div class="item">C</div>
  <div class="item">D</div>
  <div class="item">E</div>
  <div class="item">F</div>
  <div class="item">G</div>
  <div class="item">H</div>
  <div class="item">I</div>
</div>
