<div style="display:flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-around;">
    <button type="button" class="btn btn-outline-dark">전체</button>
    <button type="button" class="btn btn-outline-dark">가요</button>
    <button type="button" class="btn btn-outline-dark">댄스</button>
    <button type="button" class="btn btn-outline-dark">락</button>
    <button type="button" class="btn btn-outline-dark">재즈</button>
    <button type="button" class="btn btn-outline-dark">클래식</button>
    <button type="button" class="btn btn-outline-dark">뉴에이지</button>
    <button type="button" class="btn btn-outline-dark">힙합</button>
    <button type="button" class="btn btn-outline-dark">메탈</button>
    <button type="button" class="btn btn-outline-dark">트로트</button>
    <button type="button" class="btn btn-outline-dark">만화</button>
    <button type="button" class="btn btn-outline-dark">OST</button>
</div>

<div class = "container">
    <div class="item">A</div>
	<div class="item">B</div>
	<div class="item">C</div>
	<div class="item">D</div>
	<div class="item">E</div>
	<div class="item">F</div>
	<div class="item">G</div>
	<div class="item">H</div>
	<div class="item">I</div>

</div>