<!DOCTYPE html>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/js/modal.js"></script>
<script src="/js/file.js"></script>
<script src="/js/modal.js"></script>
<script src="/js/request.js"></script>
<script src="/js/table.js"></script>
<script src="/js/main/main.js"></script>
<script src="/js/main/content.js"></script>
<script src="/js/main/playList.js"></script>
<script src="/js/main/modal/upload.js"></script>
<script src="/js/main/modal/makePlayList.js"></script>
<script>
  window.onload = function () {
    main.init();
  };
</script>
<html>
  <head>
    <link href="/css/table.css" rel="stylesheet" type="text/css" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/css/main.css" rel="stylesheet" type="text/css" />
    <link href="/css/modal.css" rel="stylesheet" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <title>오늘부터 뮤지션</title>
  </head>
  <body>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
    <div style="display: flex; flex-direction: column">
      <div class="header-container">
        <div>
          <!--div.header-container > div:first-child-->
          <div style="font-size: 30px; margin: 0 5px 0 5px">
            <i class="fa-solid fa-bars clicktag" id="leftMenuControl"></i>
          </div>
          <div
            class="clicktag"
            id="homeTitle"
            onclick="location.href='<%=serverDefines.home%>'"
          >
            오늘부터 뮤지션
          </div>
        </div>

        <div>
          <!--div.header-container > div:nth-child(2)-->
          <input id="searchText" type="text" />
          <div class="clicktag" id="searchBtn">
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>
        </div>

        <div>
          <!--div.header-container > div:last-child-->
          <div
            id="uploadButton"
            data-bs-toggle="modal"
            data-bs-target="#staticBackdrop"
          >
            <i class="fa-solid fa-file-audio clicktag"></i>
          </div>
          <div>
            <i class="fa-solid fa-circle-user clicktag"></i>
          </div>
        </div>
      </div>

      <div class="body-container">
        <div class="left-container">
          <div>
            <ul style="list-style-type: none; font-size: 1.1rem">
              <li
                class="clicktag"
                name="li_1"
                onclick="main.call('CONTENT',content.init)"
                style="display: flex"
              >
                <i class="fa-solid fa-house"></i
                ><label class="liLabel clicktag" for="li_1">홈</label>
              </li>
              <li
                class="clicktag"
                name="li_2"
                onclick="main.call('PLAYLIST',playList.init)"
                style="display: flex"
              >
                <i class="fa-solid fa-headphones"></i
                ><label class="liLabel clicktag" for="li_2">플레이리스트</label>
              </li>
            </ul>
          </div>
        </div>

        <div id="contentBody"></div>
      </div>

      <div class="footer-container">
        <audio
          controls
          id="footerAudio"
          controlsList="nodownload"
          style="width: 20vw"
        ></audio>
      </div>
    </div>
    <!-- Modal -->
    <div id="modal-content"></div>
  </body>
</html>
