<!DOCTYPE html> 
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script src="/js/common"></script>
<script>
    function buttonevent(target){     
        axios.get('todayPlayer/page/TEST')
        .then((response) => {document.getElementById("contentBody").innerHTML = response.data})
        .catch(function (error) {console.log(error);})
        .then(function () { console.log("실행되었따.") });
    }
</script>

<html>
    <head>
        <title>오늘부터 뮤지션</title>
    </head>
    <body>
        <div style = 'display: flex; flex-direction: column;'>
            <div style="max-height:10vh;"><button onclick="buttonevent(this)">눌러~</button></div>

            <div id="leftTab" style="height:85vh; display: flex; flex-direction: row;">
                <div style="width:20vh;">ddd</div>
                <div id="contentBody" style="width:80vh">

                </div>
            </div>
            <div style="height:5vh;">footer</div>
        </div>
    </body>
</html>