<div class="modal-container">
  <div class="modal-header">
    <h4 class="modal-title">플레이리스트 만들기</h4>
    <button type="button" class="btn-close" onclick="modal.hide();"></button>
  </div>

  <div class="modal-body">

    <div
    id="selectMusicDiv"
      style="
        display: grid;
        grid-template-columns: 5fr 0.5fr 5fr;
        column-gap: 20px;
        min-height: 100%;
        max-height: 100%;
      "
    >
      <div
        style="
          display: flex;
          flex-direction: column;
          border: 1px solid grey;
          border-radius: 10px 10px 10px 10px / 10px 10px 10px 10px;
        "
      >
        <div style="margin: 10px; height: 40px">
          <input
            id="makePlayListSearchText"
            type="text"
            style="
              border-radius: 10px 10px 10px 10px/10px 10px 10px 10px;
              border: 1px solid grey;
              width: 20vw;
            "
          />
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <div
          style="margin: 10px; overflow-y: visible"
          id="playListLeftDiv"
        ></div>
      </div>
      <div
        style="
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          justify-content: space-evenly;
        "
      >
        <i class="fa-solid fa-arrow-right clicktag" id="addMusicBtn"></i>
        <i class="fa-solid fa-arrow-left clicktag" id="exceptMusicBtn"></i>
      </div>
      <div
        style="
          border: 1px solid grey;
          border-radius: 10px 10px 10px 10px / 10px 10px 10px 10px;
        "
      >
        <div style="margin: 10px; height: 40px"></div>
        <div
          style="margin: 10px; overflow-y: visible"
          id="playListRightDiv"
        ></div>
      </div>
    </div>

    <div id="playListDataDiv">
      엌
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" id="makePlayListSaveBtn" style="display:none">
      플리만들기!
    </button>
    <button type="button" class="btn btn-primary" id="makePlayListPreviewBtn" style="display:none">
      이전
    </button>
    <button type="button" class="btn btn-primary" id="makePlayListNextBtn">
      다음
    </button>
    <button type="button" class="btn btn-secondary" onclick="modal.hide();">
      닫기
    </button>
  </div>
</div>
