<link href="/css/upload.css" rel="stylesheet" type="text/css" />

<div class="modal-container">
  <div class="modal-header">
    <h4 class="modal-title">음악 올리기</h4>
    <button type="button" class="btn-close" onclick="modal.hide();"></button>
  </div>

  <div class="modal-body">
    <div id="uploadForm">
      <i
        class="fa-solid fa-circle-arrow-up clicktag"
        style="font-size: 200px"
      ></i>
    </div>

    <div id="freviewFrom">
      <audio controls style="width: 100%" src="1670498099817_cometogether.mp3"></audio>
      <div style="margin-top:30px; display: flex; flex-direction: column;">
        <div style="font-size:20px; margin: 0 0 10px 0;">세부정보</div>
        <div style="padding:5px 10px 5px 10px; display: flex; flex-direction: column; border: 1px solid grey; border-radius: 10px 10px 10px 10px / 10px 10px 10px 10px;">
          <div style="font-size:14px">제목(필수항목)</div>
          <div><input style="border:none; outline:none" placeholder="제목을 입력해주세요(필수항목입니다)"></input></div>
          <div style="text-align:right">0/100</div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" onclick="modal.hide();">
      Close
    </button>
    <button
      type="button"
      class="btn btn-primary"
      id="uploadSaveBtn"
      style="display: none"
    >
      올리기
    </button>
  </div>
</div>

<input
  type="file"
  id="input_file_upload"
  style="display: none"
  accept="audio/*"
/>
