<link href="/css/upload.css" rel="stylesheet" type="text/css" />

<div class="modal-container">
  <div class="modal-header">
    <h4 class="modal-title">음악 올리기</h4>
    <button type="button" class="btn-close" onclick="modal.hide();"></button>
  </div>

  <div class="modal-body">
    <div class="uploadForm">
      <i
        class="fa-solid fa-circle-arrow-up clicktag"
        style="font-size: 200px"
      ></i>
    </div>

    <div class="freviewForm">
      <audio
        id="freviewAudio"
        controls
        style="width: 50%"
        src=""
        controlsList="nodownload"
      ></audio>

      <div class="content-container">
        <div class="half-container">
          <div class="container-title">세부정보</div>
          <div class="input-template">
            <div class="input-title">제목(필수항목)</div>
            <textarea
              id="titleText"
              class="input-content"
              placeholder="제목을 입력해주세요(필수항목입니다)"
              rows="2"
              wrap="soft"
              maxlength="100"
            ></textarea>
            <div class="input-footer" style="text-align: right">0/100</div>
          </div>

          <div class="input-template">
            <div class="input-title">설명</div>
            <textarea
              id="contentText"
              class="input-content"
              placeholder="청자에게 음악에 대해 이야기하기"
              rows="4"
              wrap="soft"
              maxlength="1000"
            ></textarea>
            <div class="input-footer">0/1000</div>
          </div>
        </div>

        <div class="half-container">
          <div class="container-title"></div>

          <div class="input-template">
            <div class="input-title">재생목록</div>
            <select id="selectedPlayListDiv" class="input-content">
              <option>재생목록1</option>
              <option>재생목록2</option>
              <option>재생목록3</option>
            </select>

            <div
              id="playListDiv"
              style="display: flex; flex-direction: column; display: none"
            >
              <ul id="playListUl" style="list-style: none">
                <li><input type="checkbox" />무야호</li>
                <li><input type="checkbox" />무야호</li>
              </ul>
              <div
                style="
                  text-align: right;
                  display: flex;
                  flex-direction: row;
                  justify-content: space-between;
                  border-top: 1px solid grey;
                "
              >
                <button
                  style="
                    border: none;
                    outline: none;
                    background-color: white;
                    margin-top: 5px;
                  "
                >
                  새재생목록
                </button>
                <button
                  id="savePlayListBtn"
                  style="
                    border: none;
                    outline: none;
                    background-color: white;
                    margin-top: 5px;
                  "
                >
                  완료
                </button>
              </div>
            </div>

            <div class="input-footer"></div>
          </div>

          <div class="input-template">
            <div class="input-title">연령제한</div>
            <select class="input-content">
              <option>전체이용가</option>
              <option>18세이상</option>
              <option>아동용</option>
            </select>
            <div class="input-footer"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-primary"
      id="uploadSaveBtn"
      style="display: none"
    >
      올리기
    </button>
    <button type="button" class="btn btn-secondary" onclick="modal.hide();">
      닫기
    </button>
  </div>
</div>

<input
  type="file"
  id="input_file_upload"
  style="display: none"
  accept="audio/*"
/>
